.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.mode-select-button {
    padding: 50px;
    outline: 1px solid blue;
    border-radius: 4px;
    cursor: pointer;
}

.home-button-container {
    position: absolute;
    top: 0;
    left: 0;
}

.home-button {
    cursor: pointer;
    padding: 20px;
}
